<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="assets/lib/weui/weui.css">
    <title>当当网热搜榜</title>
</head>

<body>
    <div class="weui_tab" ng-app="app">

             <div class="weui_tab_bd">
               <div ng-view>

               </div>
            </div>
        <div class="weui-tabbar" style="position:fixed;bottom:0" ng-controller="mainContoller">
            <a href="#/" ng-click="linkTo(0)" class="weui-tabbar__item {{selectedIndex==0?'weui-bar__item_on':''}}">
                <img src="./assets/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="#/blog" ng-click="linkTo(1)" class="weui-tabbar__item {{selectedIndex==1?'weui-bar__item_on':''}}">
                <img src="./assets/images/icon_nav_panel.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">我</p>
            </a>
            <a href="#/book" ng-click="linkTo(2)" class="weui-tabbar__item {{selectedIndex==2?'weui-bar__item_on':''}}">
                <img src="./assets/images/icon_nav_article.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">当当热销</p>
            </a>
            <a href="#/about_me" ng-click="linkTo(3)" class="weui-tabbar__item {{selectedIndex==3?'weui-bar__item_on':''}}">
                <img src="./assets/images/icon_nav_actionSheet.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label"></p>
            </a>
      </div>
    </div>

    <script src="assets/lib/angular.js"></script>
    <script src="assets/lib/angular-route.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/0.8.0/js/jquery-weui.min.js"></script>
    <script src="assets/app.js"></script>
    <script src="assets/api/service.js"></script>
    <script src="assets/controllers/main_controller.js"></script>
    <script src="assets/controllers/book_controller.js"></script>
    <script src="assets/controllers/book_list_controller.js"></script>
    <script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260658781'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260658781' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>

</html>
