<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <title>{{detail.name}}</title>
</head>
<body>
   <div class="container">
     <div class="page-header">
     <h1>{{detail.name}}<small>发表时间:{{detail.create_time}}  阅读:{{detail.view_times}}</small></h1>
   </div>

     <p>{{detail.detail}}</p>

   </div>
</body>
</html>
