 * {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.i-advertising{ width:234px; height:195px; background:url(../images/border.png) no-repeat top center; margin-top:80px; border-bottom:1px #b0642d solid; text-align:center; position:relative; left:340px}
.advertis-title{ position:relative; top:-16px; line-height:30px}
.advertis-a{ background:url(../images/slide-1.png) no-repeat}
.advertis-b{ background:url(../images/slide-2.png) no-repeat}
.advertis-c{ background:url(../images/slide-3.png) no-repeat}
.advertis-d{background:url(../images/slide-4.png) no-repeat}
.advertis-text{ padding-top:15px}
.yinying {
	box-shadow: 0 6px 6px #72bbce;
}
.header-index {
	width:1200px;
	height: 76px;
	padding-top: 10px
}
.body-height { width:1200px;
	height: auto;
	background: url(../images/shoue-bg.jpg) top center #FFFFFF repeat-x;
	margin-top: 6px;
}
.footer-index {
	padding: 12px 0;
	height: 61px
}
.footer-rgb {
	background-color: #171e31;
	height: 85px
}
.flash {
	width: 682px;
	height: 76px;
	background: url(../images/shouye-logo.gif) no-repeat top right
}

.link-index {
	width: 122px;
	height: 50px;
	margin-top: 26px
}
.weixin, .taobao {
	width: 22px;
	height: 22px;
	float: right
}
.weixin {
	background: url(../images/shouye-wx.gif) no-repeat;
}
.taobao {
	background: url(../images/shouye-tb.gif) no-repeat;
	margin-left: 6px
}
.link-rgb {
	color: #9f9f9f;
	padding-left: 20px;
	background: url(../images/shouye-tel.gif) left center no-repeat
}
.center {
	width: 1200px;
	height: 690px
}
.cenner-top {
	height: 340px;
}
.cenner-middle {
	height: 155px;
}
.cenner-bottom {
	height: 195px
}
.menu-top {
	width: 1110px
}
.menu-top li {
	list-style: none;
	float: left;
	width: 122px;
	margin-right: 125px
}
.menu-top a {
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	color: #FFF;
	font-weight: bold
}
.navigation-1 {
	width: 112px;
	height: 74px;
	background: url(../images/about-img.png) no-repeat;
	padding-top: 28px
}
.navigation-2 {
	width: 116px;
	height: 76px;
	background: url(../images/chanpin-img.png) no-repeat;
	margin-top: 23px;
	padding-top: 28px
}
.navigation-3 {
	width: 119px;
	height: 80px;
	background: url(../images/shipin-img.png) no-repeat;
	margin-top: 15px;
	padding-top: 31px
}
.navigation-4 {
	width: 122px;
	height: 83px;
	background: url(../images/shequ-img.png) no-repeat;
	margin-top: 23px;
	padding-top: 28px
}
.navigation-5 {
	width: 114px;
	height: 74px;
	background: url(../images/dinggou-img.png) no-repeat;
	padding-top: 28px
}
.chanpin-xq {
	width: 1200px;
}
.chanpin-xq li {
	width: 240px;
	height: 178px;
	float: left;
	margin-right: 80px
}
.chanpin-xq li h4 {
	width: 130px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 20px;
	background-color: #dd492d;
	color: #FFF
}
.chanpin-xq li p {
	padding-top: 10px;
	font-size: 15px;
	width: 240px;
	height: 138px;
	color: #9a500b
}
.chanpin-text-1 {
	background: url(../images/shouye-chanpin-1.gif) right bottom no-repeat
}
.chanpin-text-2 {
	background: url(../images/shouye-chanpin-2.gif) right bottom no-repeat
}
.chanpin-text-3 {
	background: url(../images/shouye-chanpin-3.gif) right bottom no-repeat
}
.chanpin-text-4 {
	background: url(../images/shouye-chanpin-4.gif) right bottom no-repeat
}
.footer-index-lt {
	width: 466px;
	height: 61px
}
.footer-index-lt img {
	margin-right: 20px;
	float: left
}
.footer-index-lt h6 {
	color: #FFF;
	line-height: 61px;
	width: 200px;
	padding-left: 50px;
}
.footer-index-text {
	margin-top:-5px;
	color: #FFF;
	text-align: center;
	width: 268px
}
.footer-index-text a {
	display:block; color:#FFF; padding:5px 5px; background:url(../images/beian.png) no-repeat left top;
	line-height:14px;
	width:210px;
	margin-left:auto;
	margin-right:auto
}
