.wrapper {
    margin: 0 auto;
    width: 1200px;
}

.section-title .title {
    background: url(../images/row_title.png) no-repeat;
}

.phone-recharge .select .ico, .flash-sale-list .countdown span {
    background: url(../images/select_ico.png) no-repeat;
}

.ad-banner {
    position: relative;
    margin: 10px 0 0;
    width: 100%;
    height: 90px;
}

.ad-banner img {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -960px;
}

.focus-box {
    float: right;
    position: relative;
    zoom: 1;
    margin: 10px 10px 0 0;
    width: 740px;
    overflow: hidden;
}

.focus-inner {
    position: relative;
    zoom: 1;
    width: 740px;
    height: 300px;
    overflow: hidden;
}

.focus-inner ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 300px;
}

.focus-inner li {
    float: left;
    width: 740px;
    height: 300px;
}

.focus-inner img {
    display: block;
}

.focus-switch {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 740px;
    height: 18px;
    text-align: center;
}

.focus-switch span {
    display: inline-block;
    margin: 0 3px;
    width: 18px;
    height: 18px;
    font: 12px/18px arial;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    filter: progid: DXImageTransform.Microsoft.gradient(startcolorstr=#99000000, endcolorstr=#99000000, gradientType=1);
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    cursor: pointer;
}

:root .focus-switch span {
    filter: none;
}

.focus-switch .current {
    background: #ff6600;
}

.focus-prev-btn, .focus-next-btn {
    position: absolute;
    top: 0;
    width: 39px;
    height: 300px;
    display: none;
}

.focus-prev-btn {
    left: 0;
}

.focus-next-btn {
    right: 0;
}

.focus-prev-btn span, .focus-next-btn span {
    position: absolute;
    top: 50%;
    margin: -32px 0 0;
    width: 39px;
    height: 65px;
}

.focus-prev-btn span {
    left: 0;
}

.focus-next-btn span {
    right: 0;
}

.focus-prev-btn i, .focus-next-btn i {
    position: absolute;
    top: 15px;
    display: block;
    width: 19px;
    height: 35px;
    cursor: pointer;
}

.focus-prev-btn i {
    left: 10px;
    background: url(../images/prev-btn.png) no-repeat;
}

.focus-next-btn i {
    right: 10px;
    background: url(../images/next-btn.png) no-repeat;
}

.focus-prev-btn:hover span, .focus-next-btn:hover span {
    background: rgba(0, 0, 0, 0.2);
    filter: progid: DXImageTransform.Microsoft.gradient(startcolorstr=#33000000, endcolorstr=#33000000, gradientType=1);
}

:root .focus-prev-btn:hover span, :root .focus-next-btn:hover span {
    filter: none;
}

.focus-prev-btn:hover i, .focus-next-btn:hover i {
    opacity: 0.8;
    filter: alpha(opacity=80);
}


/* 鍟嗗煄鍏憡 */

.side {
    float: right;
    width: 240px;
}

.module {
    margin: 10px 0 0;
    padding: 15px 20px;
    border: 1px solid #ededed;
}

.module-title {
    font: 14px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.module-title .more {
    float: right;
    font-size: 12px;
    color: #f33;
    font-family: SimSun;
}

.module-title .more span {
    font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.mall-notice ul {
    padding: 8px 0 0;
}

.mall-notice li {
    height: 24px;
    font: 12px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.mall-notice li a {
    color: #666;
}

.mall-notice li a:hover {
    color: #ff6600;
}


/* 璇濊垂鍏呭€� */

.phone-recharge {
    margin: -1px 0 0;
}

.phone-recharge .module-title {
    padding: 0 0 5px;
}

.phone-recharge dl, .phone-recharge dd, .phone-recharge .select {}

.phone-recharge dl {
    position: relative;
    zoom: 1;
    padding: 10px 0 0 38px;
    height: 26px;
    vertical-align: top;
    font: 12px/26px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.phone-recharge .number {
    z-index: 4;
}

.phone-recharge .number dd {
    position: relative;
    zoom: 1;
}

.phone-recharge .face-value {
    z-index: 3;
}

.phone-recharge dt {
    position: absolute;
    top: 10px;
    left: 0;
    width: 38px;
    text-align: right;
    color: #666;
}

.phone-recharge .number .text {
    _margin: -1px 0 -2px;
}

.phone-recharge .text, .phone-recharge .prom {
    display: block;
    padding: 2px 9px;
    width: 131px;
    height: 20px;
    border: 1px #dbdbdb solid;
    color: #333;
    line-height: 20px;
}

.phone-recharge .prom {
    position: absolute;
    top: 25px;
    left: 0;
    padding: 8px 9px;
    color: #f33;
    background: #fff;
}

.phone-recharge .select {
    width: 151px;
    cursor: pointer;
    position: relative;
    zoom: 1;
}

.phone-recharge .select .ico {
    position: absolute;
    top: 11px;
    right: 7px;
    width: 6px;
    height: 6px;
    _font: 0/0 Arial;
    background-position: -6px 0;
}

.phone-recharge .select .layer {
    position: absolute;
    top: 26px;
    left: 1px;
    width: 151px;
}

.phone-recharge .select .layer a {
    float: left;
    _display: inline;
    margin: -1px 0 0 -1px;
    padding: 0 9px;
    width: 56px;
    border: 1px solid #dbdbdb;
    color: #333;
    font: 12px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
    background-color: #fff;
}

.phone-recharge .select .layer a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #b3b3b3;
}

.phone-recharge .select .layer span {
    font-weight: bold;
}

.phone-recharge .price {
    display: block;
    height: 26px;
    color: #999;
    line-height: 26px;
}

.phone-recharge .price em {
    padding: 0 4px;
    color: #f33;
    font-weight: 700;
    font-family: Verdana;
}

.phone-recharge .recharge-btn {
    padding: 14px 0 12px 38px;
    height: 26px;
    font: 12px/26px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.phone-recharge .btn, .phone-recharge .help {
    float: left;
}

.phone-recharge .btn {
    width: 80px;
    height: 26px;
    color: #fff;
    border: 0 none;
    background: #f33;
    font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.phone-recharge .btn:hover {
    background: #ff6600;
}

.phone-recharge .help {
    margin: 0 0 0 10px;
    color: #666;
    white-space: nowrap;
}

.phone-recharge .help:hover {
    color: #ff6600;
}


/* section */

.section {
    margin: 30px 0 0;
}

.section-title {
    height: 46px;
}

.section-title .title {
    float: left;
    width: 200px;
    height: 46px;
    text-indent: -9999em;
    overflow: hidden;
}

.section-title .more {
    float: right;
    margin: 0 -10px 0 0;
    padding: 10px 0 0;
    font: 12px/36px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
    color: #d3d3d3;
}

.section-title .more a {
    margin: 0 10px;
    color: #666;
}

.section-title .more span {
    padding: 0 0 0 3px;
    font-family: SimSun;
}

.section-title .more a:hover {
    color: #ff6600;
    border-bottom: 1px solid #ff6600;
    text-decoration: none;
}

.section .ad-div {
    padding: 20px 0 0;
}

.section .ad-div img {
    display: block;
}

.flash-sale-section .title {
    background-position: 0 0;
}

.ztuan-section .title {
    background-position: 0 -46px;
}

.mobile-section .title {
    background-position: 0 -92px;
}

.nb-section .title {
    background-position: 0 -138px;
}

.jd-section .title {
    background-position: 0 -184px;
}

.diy-section .title {
    background-position: 0 -230px;
}


.shangjia-list {
    width: 1200px;
    overflow: hidden;
}

.shangjia-list .lists {
    position: relative;
    margin: 0 -13px 0 0;
    width: 1213px;
}

.shangjia-list .item {
    float: left;
    margin: 13px 13px 0 0;
    padding: 0 0 13px;
    width: 288px;
    border: 1px solid #ededed;
    text-align: center;
}

.shangjia-list .pic img {
    display: block;
    margin: 0 auto;
}

.shangjia-list .title {
    padding: 10px 10px 4px;
    overflow: hidden;
    font: 14px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.shangjia-list .title a {
    color: #333;
}

.shangjia-list .title a:hover {
    color: #ff6600;
}

.shangjia-list .number-sold {
    float: right;
    padding: 6px 10px 0 0;
    color: #999;
    font: 12px/26px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.shangjia-list .number-sold span {
    color: #333;
}

.shangjia-list .sale-price {
    float: left;
    padding: 0 0 0 10px;
    height: 32px;
    overflow: hidden;
    font: 18px/32px "Verdana";
    color: #f33;
}

.shangjia-list .sale-price span {
    font-size: 24px;
}

.shangjia-list .original-price {
    float: left;
    padding: 6px 0 0 10px;
    font: 12px/26px "Verdana";
    color: #999;
    text-decoration: line-through;
}

.main-figure {
    float: left;
    width: 360px;
    height: 420px;
}

.main-figure img {
    display: block;
}

.figure-list {
    float: left;
    width: 840px;
    height: 420px;
    overflow: hidden;
}

.figure-list .item {
    float: left;
    margin: 0 0 -1px -1px;
    padding: 16px 25px 0 24px;
    width: 160px;
    height: 193px;
    border: 1px solid #ededed;
    background: #fff;
}

.figure-list .wide {
    padding: 0;
    width: 419px;
    height: 208px;
}

.figure-list .tall {
    height: 192px;
}

.figure-list .title {
    width: 160px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 14px/20px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.figure-list .title a {
    color: #333;
}

.figure-list .title a:hover {
    color: #ff6600;
}

.figure-list p {
    height: 20px;
    overflow: hidden;
    font: 14px/20px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
    color: #f33;
}

.figure-list .item .pic {
    display: block;
    padding: 12px 0 0;
}

.figure-list .focus-box {
    float: none;
    margin: 0;
    width: 419px;
    height: 208px;
}

.figure-list .focus-inner, .figure-list .focus-inner li {
    width: 419px;
    height: 208px;
}

.figure-list .focus-inner ul {
    height: 208px;
}

.figure-list .focus-switch {
    width: 419px;
    height: 8px;
    bottom: 20px;
}

.figure-list .focus-switch span {
    width: 8px;
    height: 8px;
    font: 0/0 arial;
    vertical-align: top;
    background: #e6e6e6;
    filter: none;
}

.figure-list .focus-switch .current {
    background: #f33;
}

.figure-list .focus-prev-btn, .figure-list .focus-next-btn {
    height: 209px;
}

.figure-list .item .pic {
    -webkit-transition: -webkit-transform 200ms linear;
    -moz-transition: -moz-transform 200ms linear;
    -o-transition: -o-transform 200ms linear;
    transition: transform 200ms linear;
}

.figure-list .item:hover .pic {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}

.figure-list .item .pic img {
    display: block;
}


/* 鍝佺墝logo */

.brands-list {
    margin: -1px 0 0;
    padding: 0 0 0 3px;
    border: 1px solid #ededed;
}

.brands-list li {
    float: left;
    margin: 0 -1px 0 0;
    padding: 3px 1px;
}

.brands-list li img {
    display: block;
}

.brands-list .hover {
    padding: 3px 0;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}


/* 棣栭〉璋冪爺 */

.research-link {
    position: fixed;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-55));
    top: 405px;
    left: 50%;
    margin: 0 0 0 -668px;
    display: block;
    width: 58px;
    height: 75px;
    background: url(../images/research_ico.png) no-repeat;
    font: 0/0 arial;
    text-indent: -9999em;
}


/*鎼滅储妗�*/

.seachpj {
    border: 1px solid #ededed;
}

.seachpj form {
    overflow: hidden;
}

.seachpj form select {
    display: block;
    border: 2px solid #ff6600;
    float: left;
    margin-right: 25px;
    height: 36px;
    min-width: 180px;
    line-height: 30px;
    padding-left: 4px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 20px;
}

.seachpj form .last {
    width: 240px;
    margin-right: 0px;
}

.seachpj form .search-btn {
    float: left;
    margin-top: 20px;
    height: 36px;
    width: 120px;
    border-radius: 3px;
}

.user-info-header {
    height: 50px;
}

.user-info-header .head-pic {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
}

.user-info-header .head-pic img {
    display: block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.user-info-header .say-hello, .user-info-header .my-ali-link, .user-info-header .last-login {
    display: block;
    line-height: 18px;
    height: 18px;
    font-size: 12px;
    margin-left: 8px;
}

.user-info-header .say-hello {
    margin-top: 12px;
}

.fd-left {
    float: left;
}

.help_buyer {
    overflow: hidden;
}

.help_buyer a.line-1, .help_seller a.line-1 {
    height: 48px;
    line-height: 48px;
}

.help_buyer a.line-2, .help_seller a.line-2 {
    height: 39px;
    padding-top: 11px;
    line-height: 13px;
}

.help_buyer a, .help_seller a {
    display: block;
    width: 48px;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #f8f8f8;
    float: left;
    color: #555;
    text-align: center;
}

.help_buyer span, .help_seller span {
    display: block;
    width: 17px;
    height: 50px;
    float: left;
    background-image: url(../images/j_right.png) no-repeat;
}

.user_info_area {
    overflow: hidden;
}

.user_info_area .login-btn, .user_info_area .regist-btn {
    width: 119px;
    height: 44px;
    line-height: 44px;
    color: #222;
    font-size: 14px;
    text-align: center;
    display: block;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    float: right;
    border-top: none;
    border-bottom: none;
}

.user_info_area .login-btn {
    border-right: none;
}

.flag_icon .authentication, .flag_icon .insurance, .flag_icon .security {
    display: block;
    width: 28px;
    height: 28px;
    margin-left: 38px;
    font-size: 0;
    background-image: url(../../images/danbao.png);
    background-repeat: no-repeat;
    float: left;
}

.flag_icon {
    height: 38px;
    padding-top: 10px;
    border: 1px solid #e7e7e7;
    border-top: none;
}

.flag_icon .insurance {
    background-position: 0px 0px;
}

.flag_icon .insurance:hover {
    background-position: 0px -50px;
}

.flag_icon .security {
    background-position: -60px 0px;
}

.flag_icon .security:hover {
    background-position: -60px -50px;
}

.flag_icon .authentication {
    background-position: -120px 0px;
}

.flag_icon .authentication:hover {
    background-position: -120px -50px;
}


/*鍝佺墝鍒楄〃*/

.mg_t7 {
    margin-top: 7px;
}

.mg_t10 {
    margin-top: 10px;
}

.mg_t15 {
    margin-top: 15px!important;
}

.mg_t20 {
    margin-top: 20px;
}

.mg_t25 {
    margin-top: 25px;
}

.mg_r15 {
    margin-right: 15px;
}

.mg_r20 {
    margin-right: 20px;
}

.mg_r35 {
    margin-right: 35px;
}

.mg_b20 {
    margin-bottom: 20px;
}

.mg_b35 {
    margin-bottom: 35px;
}

.mg_l0 {
    margin-left: 0!important;
}

.bdT_d9 {
    border-top: 1px solid #d9d9d9;
}

.bdB_d9 {
    border-bottom: 0px solid #d9d9d9;
}

.f_l {
    float: left!important;
}

.t_r {
    text-align: right;
}

.f_r {
    float: right!important;
}

.mg_t40 {
    margin-top: 40px;
}

.pd_t20 {
    padding-top: 20px;
}

.pd_b10 {
    padding-bottom: 10px;
}

.pd_t10 {
    padding-top: 10px;
}

.w60 {
    width: 60px;
}

.w70 {
    width: 70px;
}

.w90 {
    width: 90px;
}

.w120 {
    width: 120px;
}

.w150 {
    width: 150px;
}

.w250 {
    width: 250px;
}

.w320 {
    width: 320px;
}

.w360 {
    width: 360px;
}

.w370 {
    width: 370px;
}

.w540 {
    width: 540px;
}

.w790 {
    width: 790px;
}

.w800 {
    width: 800px;
}

.w920 {
    width: 920px;
}

.lineH30 {
    line-height: 30px;
}

.pd_l20 {
    padding-left: 20px;
}

.pd_l10 {
    padding-left: 10px;
}

.pd_t10 {
    padding-top: 10px;
}

.pd_b15 {
    padding-bottom: 15px;
}

.bd0 {
    border: 0px solid #ededed;
}

.lineH50 {
    line-height: 50px;
}

.h50 {
    height: 50px;
}

.min-hei110 {
    min-height: 110px!important;
}

.mg_l100 {
    margin-left: 100px!important;
}

.h125 {
    height: 125px;
    overflow: hidden;
}

.t_c {
    text-align: center;
}

.bdXC {
    background: url(../images/dashed1.png) repeat-y 60px 0;
}

.boxLT {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.solid1 {
    background: url(../images/solid1.png) repeat-y 600px 0;
}

.posR {
    position: relative;
}

.BrandsList li {
    text-align: left;
    line-height: 40px;
    padding: 10px 0;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.BrandsList dl dt {
    width: 100px;
    text-align: right;
    font-size: 14px;
}

.BrandsList dl dt a {
    color: #333333;
    font-size: 16px;
}

.BrandsList dl dd {
    width: 390px;
    font-size: 13px;
    padding-left: 50px;
    float: right;
}

.BrandsList dl dd a {
    display: block;
    float: left;
    width: 130px;
}

.brandsAlist {
    padding-left: 40px;
}

.brandsAlist a {
    float: left;
    display: block;
    width: 140px;
}

.bdT_ed {
    border-top: 1px solid #ededed;
}

.categoryDiv {
    float: left;
}

.categoryDiv .pj_img {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #dddddd;
    max-width: 300px;
}

.categoryDiv .pj_img img {
    max-width: 360px;
}


/*閫夐」鍗″垏鎹�*/

.tabs {
    margin: 20px auto;
}

.tabs .tab {
    overflow: hidden;
    background: #efefef;
}

.tabs .tab a {
    display: block;
    padding: 10px 20px;
    float: left;
    text-decoration: none;
    color: #333;
}

.tabs .tab a:hover {
    background: #ff6600;
    color: #fff;
    text-decoration: none;
}

.tabs .tab a.on {
    background: #ff6600;
    color: #fff;
    text-decoration: none;
}

.tabs .content {
    overflow: hidden;
}

.tabs .content li {
    display: none;
}


/*鍝佺墝鍒楄〃鏍峰紡*/

.breadclip {
    height: 35px;
    line-height: 35px;
    color: #7f8287;
    border-bottom: 1px solid #ededed;
    font-size: 14px;
}

.breadclip a {
    display: inline-block;
    height: 35px;
    color: #7f8287;
}

.listTitle {
    line-height: 50px;
    font-size: 16px;
    color: #3d3c3f;
    font-weight: normal;
}

.letterSort a {
    width: 27px;
    height: 27px;
    line-height: 27px;
    margin-top: 5px;
    margin-right: 4px;
    display: inline-block;
    font-size: 15px;
    text-align: center;
}

.letterB {
    line-height: 50px;
    font-size: 20px;
    color: #f60;
    font-weight: normal;
    padding-left: 20px;
}

.ImgV70 {
    top: 50%;
    margin-top: -70px;
    text-align: center;
}

.lineH20 {
    line-height: 20px;
}

.BrandsList1 {
    margin-left: 150px;
    min-height: 160px;
}

.imgbdXL {
    background: url(../../images/bdXR.png) repeat-y left;
}

.BrandsList1 a {
    display: inline-block;
    width: 180px;
    font-size: 13px;
}

.BrandsList1 .pinpai_name {
    font-size: 16px;
}

.hot_category {
    background: url(../images/hot.gif) right top no-repeat;
    padding-right: 24px;
    line-height: 28px;
}

.bdB_ed {
    border-bottom: 1px solid #ededed;
}

.indent2 {
    padding: 20px 10px;
    font-size: 15px;
    line-height: 1.8;
}

.sltW150 li.checked span {
    width: 150px;
}

.selectTab li {
    border-top: 3px solid #A8ACB3;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #7f8287;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}

.sltW150 li.checked {
    width: 148px;
}

.selectTab li.checked {
    height: 35px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    color: #3b3c3f;
    background-color: #fff;
    font-size: 16px;
}

.selectTab li.checked span {
    height: 34px;
    border-top: 3px solid #EC7642;
    display: block;
    position: relative;
    left: -1px;
    top: -3px;
}

.s-search input {
    border: 1px solid #898989;
    border-radius: 3px;
}

.inpH34 {
    height: 26px!important;
    line-height: 26px!important;
}

.inpCom {
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    padding: 4px;
    border: 1px solid #e3e3e3!important;
    font-size: 14px;
    color: #3b3c3f;
}

a.btnO {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
}

a.btnH36A {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
}

.s-search a {
    background-color: #ff6600;
    border-radius: 3px;
}

.sideTitle {
    font-size: 16px;
    color: #3d3c3f;
    font-weight: normal;
}

.bdT2_9c0 {
    border-top: 2px solid #ff6600;
}

.bdB_e3 {
    border-bottom: 1px solid #e3e3e3;
}

ul.lubricate li a {
    border-bottom: 1px solid #eaeaea;
    width: 180px;
    margin-left: 20px;
    line-height: 24px;
    padding-top: 6px;
}

.categoryDiv ul li {
    margin: 0 10px 10px 0;
    cursor: pointer;
    float: left;
}

.categoryDiv ul li a {
    font-size: 14px;
    padding: 8px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    float: left;
}

.classify-title, .countdown, .hot-ico, .recommend-list .btn, .news-list li, .selecte-attr dd a, .morebtn, .open-up span, .open-down span, .mini-page .prev, .mini-page .next, .mini-page .no-prev, .mini-page .no-next, .basic .funbtn, .sort span, .sort .desc, .commdress span, .commdress-list .close, .switch-list, .switch-image, .ad-icon .countdown i, .contact .dove, .icon-baozhang, .icon-qitian, .icon-zhengpin, .icon-fuwu, .icon-zhenshi, .score span, .page .prev, .page .no-prev, .page .next, .page .no-next, .layer-body .close, .approve a {
    background: url(../images/ico.png) no-repeat;
}

.icon-baozhang, .icon-qitian, .icon-zhengpin, .icon-fuwu, .icon-zhenshi {
    display: block;
    width: 15px;
    height: 17px;
}

.icon-baozhang {
    background-position: -85px -8px;
}

.icon-qitian {
    background-position: -85px -38px;
}

.icon-zhengpin {
    background-position: -85px -67px;
}

.icon-fuwu {
    background-position: -85px -98px;
}

.icon-zhenshi {
    background-position: -85px -129px;
}

.score {
    float: right;
    padding: 0 5px;
    width: 75px;
    background: #f7f7f7;
    cursor: pointer;
}

.score span {
    display: block;
    padding: 0 10px 0 0;
    background-position: 100% -389px;
    line-height: 20px;
}

.score-other {
    display: none;
}

.score-hover {
    position: relative;
    padding: 0 4px;
    border: 1px solid #e6e6e6;
    border-bottom: 0 none;
    background: #fff;
}

.score-hover .score-other {
    display: block;
    position: absolute;
    top: 19px;
    left: -1px;
    padding: 0 4px;
    width: 75px;
    border: 1px solid #e6e6e6;
    border-top: 0 none;
    background: #fff;
}

.score-hover span {
    margin: -1px 0 0;
    background-position: 100% -406px;
}

.score-hover .score-other span {
    background: 0 none;
}

.btn-group {
    padding: 6px 0 0;
    text-align: center;
}

.btn-group a {
    display: inline;
    margin: 0 0 10px;
    padding: 8px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.btn-group a:hover {
    background-position: 0 -81px;
    color: #333;
    text-decoration: none;
}

.btn-see {
    float: right;
    position: absolute;
    top: 90px;
    left: 822px;
    margin: 0 0 10px;
    padding: 8px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.btn-see a:hover {
    background-position: 0 -81px;
    color: #333;
    text-decoration: none;
}


/*tab 鍒囨崲*/

.tab {
    margin: 20px 0 0;
    border-bottom: 2px solid #ff6600
}

.tab li {
    float: left;
    margin: 0 3px 0 0;
    padding: 0 16px;
    height: 31px;
    font: 14px/31px "Microsoft YaHei";
    background: #ebebeb;
    text-align: center;
    cursor: pointer;
}

.tab li a, .tab li a:hover {
    color: #333;
    text-decoration: none;
}

.tab .current {
    background: #ff6600;
    color: #fff
}

.tab .current a, .tab .current a:hover {
    color: #fff;
    text-decoration: none;
}


/*mini-page*/

.mini-page {
    float: right;
    margin: -28px 0 0;
    height: 21px;
    line-height: 21px;
}

.mini-page em {
    float: left;
    padding: 0 2px 0 0;
    color: #999;
}

.mini-page .prev, .mini-page .next, .mini-page .no-prev, .mini-page .no-next {
    float: left;
    margin: 0 0 0 3px;
    width: 21px;
    height: 21px;
    text-indent: -9999em;
    overflow: hidden;
}

.mini-page .prev {
    background-position: 0 -184px;
}

.mini-page .next {
    background-position: -22px -184px;
}

.mini-page .prev:hover {
    background-position: 0 -206px;
}

.mini-page .next:hover {
    background-position: -22px -206px;
}

.mini-page .no-prev {
    background-position: 0 -162px;
}

.mini-page .no-next {
    background-position: -22px -162px;
}


/*shop-list 搴楅摵鍒楄〃*/

.shop-list li {
    padding: 20px 0;
    border-bottom: 1px dotted #e6e6e6;
}

.shop-list li a.pic {
    float: left;
    margin-right: 18px;
}

.shop-list li a.pic img {
    border: 1px solid #dddddd;
    width: 100px;
    height: 100px;
}

.shop-list .shop {
    float: left;
    width: 540px;
    height: 100px;
}

.shop-list .shop-name {
    float: left;
    padding: 0 10px 0 0;
    font: bold 15px/22px "Microsoft YaHei";
}

.shop-list .shop-name a {
    color: #333;
}

.shop-list .contact {
    float: left;
    padding: 0 15px 0 0;
}

.shop-list .level {
    float: left;
}

.shop-list .level img {
    display: inline-block;
    margin: 2px 1px 0 0;
    border: 0 none;
}

.shop-list .intro {
    padding: 0;
}

.shop-list .intro li {
    float: left;
    padding: 5px 0;
    border: 0 none;
    color: #666;
    white-space: nowrap
}

.shop-list .intro span {
    color: #999;
}

.shop-list .intro a {
    display: inline-block;
    margin: 0 5px 0 0;
}

.shop-list .service a {
    margin: 0px 2px 0 0;
    *margin: -2px -1px 0 -2px;
    display: inline-block;
    text-indent: -9999em;
    overflow: hidden;
    vertical-align: middle;
}

.shop-list .intro .approve a {
    display: inline-block;
    margin: 0 3px 0 0;
    *margin: -2px 0 0 -2px;
    width: 34px;
    height: 20px;
    text-indent: -9999em;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

.approve .accredit {
    background-position: -46px -108px;
}

.approve .aptitude {
    background-position: -46px -129px;
}

.approve .identity {
    background-position: -46px -150px;
}

.shop-list .intro .first {
    width: 100%;
    overflow: hidden;
}

.shop-list .intro .first span, .shop-list .intro .first a {
    float: left;
    height: 18px;
    overflow: hidden;
}

.shop-list .group {
    float: right;
    width: 160px;
}

.shop-list .group .column {
    float: left;
    padding: 0 0 0 15px;
    line-height: 30px;
    color: #999;
}

.shop-list .group em {
    color: #666;
}

.shop-list .group a em {
    color: #36c;
}

.shop-list .btn-group {
    float: right;
}

.shop-list .btn-see {
    float: right;
}


/*sales-list 鐐掕揣淇℃伅鍒楄〃*/

.sales-list li a.pic {
    float: left;
    margin-right: 18px;
}

.sales-list li a.pic img {
    border: 1px solid #dddddd;
    width: 120px;
    height: 120px;
}

.sales-list .shop {
    float: left;
    width: 540px;
    height: 120px;
}

.sales-list .shop .intro {
    margin-top: 8px;
}

.sales-list .shop .intro p {
    line-height: 24px;
}

.sales-list .btn-group a {
    display: block;
    margin: 0 0 10px;
    padding: 8px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.sales-list .btn-group a:hover {
    background: #ff6600;
    border: 1px solid #ff6600;
    color: #FFF;
    text-decoration: none;
}


/*鍒楄〃椤靛井淇′簩缁寸爜*/

.weixin {
    width: 25px;
    height: 25px;
    margin: 1px auto;
    position: relative;
    font-size: 12px;
    text-align: center;
    float: left;
}

.weixin a {
    width: 25px;
    height: 25px;
    display: block;
    background: url(../images/weixin-logo.png) no-repeat center top;
}

.weixin .weixin_nr {
    width: 120px;
    height: 120px;
    padding: 10px;
    background: #fff;
    text-align: center;
    position: absolute;
    left: -5px;
    display: none;
    z-index: 999
}

.weixin .weixin_nr img {
    background: #fff;
}

.weixin.on .weixin_nr {
    display: block;
}


/*鐐掕揣淇℃伅鍒楄〃 info-list 鍒楄〃*/

.info-list li {
    padding: 20px 0;
    border-bottom: 1px dotted #e6e6e6;
    font-size: 14px;
}

.info-list .shop {
    float: left;
    position: relative;
    padding: 0 0 0 0px;
    width: 680px;
}

.info-list .shop-name {
    float: left;
    padding: 0 10px 0 0;
    font: bold 14px/22px "Microsoft YaHei";
}

.info-list .shop-name a {
    color: #333;
}

.info-list .group {
    float: left;
    width: 220px;
    line-height: 30px;
}

.info-list .group em {
    color: #666;
}

.info-list .group a em {
    color: #36c;
}

.info-list .intro {
    padding: 4px 0 0;
}

.info-list .intro li {
    float: left;
    padding: 0;
    line-height: 1.8;
    border: 0 none;
    color: #666;
    white-space: nowrap;
    width: 100%;
}

.info-list .intro a {
    display: inline-block;
    margin: 0 5px 0 0;
}

.info-list .service a {
    margin: 0px 2px 0 0;
    *margin: -2px -1px 0 -2px;
    display: inline-block;
    text-indent: -9999em;
    overflow: hidden;
    vertical-align: middle;
}

.info-list .intro .approve a {
    display: inline-block;
    margin: 0 3px 0 0;
    *margin: -2px 0 0 -2px;
    width: 34px;
    height: 20px;
    text-indent: -9999em;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

.info-list .intro .first span, .info-list .intro .first a {
    float: left;
    height: 18px;
    overflow: hidden;
}


/*page*/

.page {
    margin: 0 -2px 0 0;
    padding: 25px 0 40px;
    text-align: center;
    font-family: "Microsoft YaHei";
}

.page a, .page span {
    display: inline-block;
    margin: 0 2px;
    padding: 0 12px;
    height: 32px;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    color: #333;
    font-family: arial;
    background: #fff;
    border: 1px solid #e6e6e6;
}

.page a:hover {
    text-decoration: none;
    border: 1px solid #ff6600;
    color: #333;
}

.page .sel {
    background: #ff6600;
    color: #fff;
    border: 1px solid #ff6600;
}

.page .prev, .page .no-prev {
    padding: 0 12px 0 25px;
    background-position: 0 -549px;
}

.page .next, .page .no-next {
    padding: 0 25px 0 12px;
    background-position: 100% -549px;
}

.page .no-prev {
    background-position: 0 -595px;
    color: #b3b3b3;
}

.page .no-next {
    background-position: 100% -595px;
    color: #b3b3b3;
}

.mm{
  float: left;
margin-top: 20px;
height: 36px;
width: 120px;
border-radius: 3px;
font: 16px/32px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
color: #fff;
border: 0 none;
background: #f60;
cursor: pointer;
vertical-align: middle;
}
