@media (max-width: 1200px) {
html {min-width: 960px;}
.header {margin: 0 auto;padding: 15px 0 0;width: 950px;height: 90px;}
.wrapper {width: 950px;}
.nav-box, .nav-box .nav {width: 750px;}
.ad-div, .wrapper .side, .nav-tips, .sidebar{display:none;}
.focus-box {margin: 10px 0px 0 0;}
.shangjia-list .item {width: 225px;}
.navmod {width: 950px;}

}
