<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>登录</title>
	<link rel="stylesheet" media="screen" href="/stylesheets/screen.css">
</head>
<body>
<div id="page">
	<div id="header">
		<h1>登录</h1>
	</div>
	<div id="content">
		<p id="status"></p>
		<form action="/login/user" method="post" id="login">
			<fieldset>
				<legend>用户登录</legend>
				 <div style="display: none">
				 	 <div id="loginFalse" >{{loginFalse}}</div>
				 </div>
				<ul>
					<li>
						<label for="email">
							<span class="required">Email</span>
						</label>
						<input id="email" name="email" class="text required email" type="text">
						<label for="email" class="error">这必须是一个有效的电子邮件地址</label>
					</li>
					<li>
						<label for="password">
							<span class="required">密码</span>
						</label>
						<input name="password"  type="password" class="text required" id="password " minlength="4" maxlength="20">
					</li>

				</ul>
			</fieldset>
			<fieldset class="submit">
				<input type="submit" class="button" value="提交">
			</fieldset>
			<div class="clear"></div>
		</form>
	</div>
</div>
<script src="/lib/jquery.min.js"></script>
<script src="/dist/jquery.validate.min.js"></script>
<script src="/lib/messages_zh.js"></script>
<script>

  var t = $("#loginFalse").text();
	if (t == 'true') {
		alert('账号或密码错误');
	}
$(function() {


  // highlight
  var elements = $("input[type!='submit'], textarea, select");
  elements.focus(function() {
    $(this).parents('li').addClass('highlight');
  });
  elements.blur(function() {
    $(this).parents('li').removeClass('highlight');
  });

  $("#forgotpassword").click(function() {
    $("#password").removeClass("required");
    $("#login").submit();
    $("#password").addClass("required");
    return false;
  });

  $("#login").validate()


});
</script>
</body>
</html>
