#container {
	width:908px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:999;
}

.slides_container {
	width:905px;
	height:318px;
	overflow:hidden;
	position:relative;
}
.slides_container a {
	width:905px;
	height:318px;
	position:relative;

}

.slides_container img{width:905px;
	height:318px;
}
#slides .next {
	left:585px;
}

.pagination {
	margin:4px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 4px;
}

.pagination li a {
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}
